:root {
  --foooter-color: #2f303a;
  --background-color: #e5e5e5;
  --title-text-color: #212121;
  --p-color: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}
img {
  display: block;
}

.link,
.mail,
.tel {
  text-decoration: none;
}

.link-logo {
  font-family: "Raleway", sans-serif;
}
.logo-header {
  color: #212121;
}
.logo-footer {
  color: #ffffff;
}
.header {
  background-color: #ffffff;
  display: flex;
  width: 1600px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.link-logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation {
  display: block;
  justify-content: center;
}

/*hover and focus, кнопок і ссилок*/

.link:hover,
.mail:hover,
.tel:hover,
.link:focus,
.mail:focus,
.tel:focus {
  color: #2196f3;
}

button:focus,
button:hover {
  color: #ffffff;
  background: #2196f3;
}

.order-a-service {
  background-color: #2196f3;
  color: #ffffff;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;

  margin: auto;
  display: block;
  justify-content: center;
}

.portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 1360px;
}
.portfolio-box {
  height: 1360px;
  /*margin-top: 94px;
  margin-bottom: 94px;*/
}
/*.portfolio-galery {
  display: flex;
  justify-content: space-around;
}*/
.work-list {
  display: flex;
  justify-content: center;
}
.work-list-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.work-list-li {
  margin-right: 8px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.work-list-li:last-child {
  margin-right: 0;
}
.all {
  width: 73px;
}
.web-site {
  width: 128px;
}
.appendix {
  width: 145px;
}
.design {
  width: 103px;
}
.marketing {
  width: 130px;
}
.order-a-service,
.work-list-button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
/*шапка*/

.link-logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.navigation {
  display: flex;
  align-items: center;
  margin: auto;
}
.navigation-page {
  display: flex;
  /*margin-left: 93px;*/
}
.navigation-item {
  margin-right: 50px;
}
.navigation-item:last-child {
  margin-right: 331px;
}
.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: #212121;
}
.mail-tel {
  display: flex;
}
.mail-tel .navigation-contacts + .navigation-contacts {
  margin-left: 50px;
}
.logo-web {
  margin-right: 93px;
}
.mail,
.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--p-color);
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*HERO*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/people-work.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-box {
  width: 696px;
  height: 120px;
  margin-left: 452px;
  margin-right: 452px;
}
/*переваги*/
.not-see {
  display: none;
}
.advantages {
  margin: 94px 215px;
  /*margin-bottom: 94px;*/
}
.advantages-picture {
  display: block;
  display: flex;
}
.advantages-picture-item {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.advantages-picture-item:last-child {
  margin-right: 0;
}
.advantages-picture-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages-list {
  display: flex;
  height: 101px;
}
.advantages-item {
  margin-right: 30px;
}
.advantages-item:last-child {
  margin-right: 0;
}
.advantages-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--p-color);
  width: 270px;
}
.advantages,
.our-work {
  background-color: #ffff;
}
.our-work-list {
  display: flex;
  justify-content: center;
}
.our-work-item {
  margin-right: 30px;
}
.our-work-item:last-child {
  margin-right: 0;
}
.our-team-list {
  display: flex;
  justify-content: center;
}
.our-team-box {
  margin-left: 215px;
  margin-right: 215px;
}

.our-team-item {
  margin-right: 30px;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team-img {
  width: 270px;
  margin-bottom: 30px;
}
.our-team-title {
  margin-bottom: 10px;
  text-align: center;
}
.our-team-position {
  text-align: center;
}
.home-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.title {
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  height: 42px;
}
.our-work-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-work {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  margin-bottom: 94px;
}
.our-work-box {
  height: 386px;
}
/* Наша команда*/
.our-team {
  width: 1600px;
  height: 648px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(245, 244, 250, 1);
  margin-bottom: 94px;
}
.our-team-tit {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}
.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}
.our-team-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--p-color);
  margin-bottom: 16px;
}
.our-team-social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-left: 32px;
}
.our-team-social-item {
  margin-right: 10px;
}
.our-team-social-item:last-child {
  margin-right: 0;
}
.our-team-social-link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.our-team-social-icon {
  fill: currentColor;
}
.our-team-social-link:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.our-team-social-icon:hover {
  color: #ffffff;
}

/*.our-team-social-link:hover .our-team-social-icon {
  fill: #ffffff; 
}*/
.client {
  padding-bottom: 88px;
}
.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-item {
  margin-right: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}
.client-item:last-child {
  margin-right: 0;
}
.client-item-link {
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* Портфоліо*/
.line {
  border-top: 1px solid #ececec;
}

.work-list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  color: #212121;
}
.portfolio-work {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
}
.work-list {
  height: 38px;
  margin-bottom: 50px;
}
.work-list-name {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  color: var(--p-color);
  width: 322px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 20px;

  letter-spacing: 0.03em;
}
.portfolio-galery {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-galery-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  width: 370px;
}
.portfolio-galery-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-galery-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-galery-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-img {
  margin-bottom: 20px;
}
.portfolio-work {
  margin-bottom: 4px;
  width: 322px;
  margin-right: 24px;
  margin-left: 24px;
}
/*PIDVAL*/
.contact {
  font-style: normal;
}

.footer {
  background-color: var(--foooter-color);
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1600px;
  height: 252px;
  margin-left: auto;
  margin-right: auto;
}

.adress-footer {
  margin-top: 20px;
}
.adress-footer,
.mail-footer {
  margin-bottom: 9px;
}
